#mint h1 {
    font-size: 4.4vh !important;
    line-height: 4.4vh !important;
    padding-top: 10px;
}

h2 {
    margin: 10px !important;
}

#mint a {
    width: 10%;
}

@media screen and (max-width: 767px) {
    #mint a {
        width: 20%;
    }

}